<div class="main-container">
  <div style="margin: 30px; margin-bottom: 50px;">
    <!-- Titre principale -->
    <h1>
      <div>
        <span id="main-text-first">le meilleur du service</span>
      </div>
      <div id="main-text-midle">
        <span>NUMERIQUE</span>
      </div>
      <div id="main-text-last">
        <span>pour vous</span>
      </div>
    </h1>
  </div>
  <div style="width: 80%; margin: auto; padding: 5px; background-color: white;">
    <div>
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <img [src]="images[0]" alt="Random first slide">
          <div class="carousel-caption">
            <h3>First slide label</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[1]" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Second slide label</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[2]" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[3]" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div style="margin: 30px; margin-top: 100px; padding-right: 35px;">
    <!-- Titre secondaire -->
    <p>
      <span style="text-align: left; font-size: 150%; color: whitesmoke; font-style: italic;">
        Nous nous engageons à vous apporter le meilleur des services numériques,
        à vous satisfaire au délà de vos attentes grâce à nos conseils et à la
        réalisation de vos projets, sur mesure et à des coûts imbattables !
      </span>
    </p>
  </div>
  <!-- Introduction corps du site -->
  <div style="text-align: center; margin-top: 100px; margin-bottom: 130px;">
    <h2>
      <span
        style="font-size: 150%; margin: auto; padding-right: 35px; padding-left: 35px; color: white !important; font-weight: bold;">On
        vous accompagne dans votre transformation digitale </span>
    </h2>
  </div>

  <!--Séparation-->
  <div id="sep1" style="height: 3px; background-color: white; width: 60%; border-radius: 50%; margin: auto;">

  </div>
  <!-- Corps du site -->
  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 70px;">
    <!-- Première ligne du Corps -->
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 130px;">
      <!-- Première colonne -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-body bg-primary">
        <div class="card border-dark ml-auto" style="max-width: 500px; height: 20rem;">
          <div class="card-header text-dark">
            <h3>Nos Services</h3>
          </div>
          <div class="card-body text-dark">
            <ul style="text-align: left; font-size: 20px;">
              <li>Développement de sites web</li>
              <li>Développement d’applications bureau</li>
              <li>Développement d’applications mobiles</li>
              <li>Conseil & accompagnement digital</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- deuxième colonne -->
      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-body bg-danger">
        <div class="card border-dark mr-auto" style="width: 500px; height: 20rem;">
          <div class="card-header text-dark">
            <h3>Accompagnement</h3>
          </div>
          <div class="card-body text-dark">
            <ul style="text-align: left; font-size: 20px;">
              <li>Installation</li>
              <li>Formation à nos solutions</li>
              <li>Développement de solutions sur mesure</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--Séparation-->
    <div id="sep2" style="height: 3px; background-color: white; width: 60%; border-radius: 50%; margin: auto;">

    </div>
    <!-- deuxieme ligne du Corps -->
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 ml-auto"
      style="margin-bottom: 110px; margin-top: 70px; width: 100%;">
      <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <!-- premiere colonne -->
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 text-body"
          style="margin-bottom: 10px; text-align: left;">
          <h4 class="bg-danger p-2 pl-5 pr-5 text-center m-auto" style="border-radius: 50px; color: white;">Notre philosophie</h4>
          <p style="margin-top: 40px; font-size: 20px; text-align: justify; color: white;">
            <span> Nous travaillons avec vous, pour créer une interface graphique (UI) et une expérience utilisateur
              (UX)
              à la fois créatives, design et répondant aux contraintes fonctionnelles de votre projet.
              Nous sommes convaincus qu’une collaboration étroite dès le début d’une idée est la garantie d’un
              développement rapide et performant, afin d’assurer un succès futur de votre projet. Nous en faisons notre
              priorité
            </span>
          </p>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <!-- deuxième colonne -->
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 text-body"
          style="margin-bottom: 10px; text-align: left;">
          <h4 class="bg-danger p-2 pl-5 pr-5 text-center m-auto" style="border-radius: 50px; color: white;">Notre équipe</h4>
          <p style="margin-top: 40px; font-size: 20px; text-align: justify; color: white;">
            <span>Nous sommes une équipe de jeunes développeurs, designers passionnés par notre métier et fiers des
              applications web
              que nous réalisons pour nos clients. Que vous soyez une Startup innovante, une association ou un
              particulier,
              nous sommes là pour réaliser le projet dont vous avez besoin.
            </span>
          </p>
        </div>
      </div>
    </div>
    <!--Séparation-->
    <div id="sep3"
      style="height: 3px; background-color: white; width: 60%; border-radius: 50%; margin: auto; margin-bottom: 60px;">

    </div>
    <!-- Troisième ligne du corps / Formulaire de contact -->
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 ml-auto">
      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 m-auto">
        <label id="formulaire"
          style="color: white; font-size: 3em; font-weight: bold; margin: auto; margin-bottom: 70px;">FORMULAIRE DE
          CONTACT</label>
      </div>
      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 m-auto">
        <form class="needs-validation m-auto">
          <div class="form-row">
            <div class="col-md-6" style="margin-bottom: 40px;">
              <label for="validationTooltip01" style="color: white; font-size: 20px;">Nom</label>
              <input type="text" class="form-control" id="validationTooltip01" required style="height: 45px;">
            </div>
            <div class="col-md-6" style="margin-bottom: 40px;">
              <label for="validationTooltip02" style="color: white; font-size: 20px;">Prénom</label>
              <input type="text" class="form-control" id="validationTooltip02" required style="height: 45px;">
            </div>
            <div class="col-md-6" style="margin-bottom: 40px;">
              <label for="validationTooltipUsername" style="color: white; font-size: 20px;">Email</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="validationTooltipUsernamePrepend" style="height: 45px;">@</span>
                </div>
                <input type="text" class="form-control" id="validationTooltipUsername"
                  aria-describedby="validationTooltipUsernamePrepend" required  style="height: 45px;">
              </div>
            </div>
            <div class="col-md-6" style="margin-bottom: 40px;">
              <label for="phone" style="color: white; font-size: 20px;">Téléphone</label>
              <input type="text" class="form-control" id="phone" style="height: 45px;">
            </div>
          </div>
          <div class="form-row" style="margin-bottom: 40px;">
            <div class="col-md-12 mb-3">
              <label for="validationTextarea" style="color: white; font-size: 20px;">Votre message</label>
              <textarea class="form-control" id="validationTextarea" placeholder="Required example textarea" required
                style="height: 90px;">
                </textarea>
            </div>
          </div>
          <button class="btn" type="submit" style="font-size: 20px;">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Footer-->
<div>
  <nav class="navbar justify-content-between"
    style="width: 100%; height: 150px; opacity: 90%; font-size: 1.3em; background-color: black;">
    <div class="text-bottom" style="margin: auto; font-weight: bold; ">
      <div style="text-align: center;">
        <span class="text-danger">
          Contact
        </span>
      </div>

      <div style="text-align: center;">
        <span>
          borisondziegain@hotmail.com
        </span>
      </div>

      <div style="text-align: center;">
        <span>
          07-52-71-85-07 / 01-23-05-78-15
        </span>
      </div>
    </div>
  </nav>
</div>
