.li-top-bar{
  margin: 7px;
  font-family: Maven Pro;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
  position:relative;
  text-align: center;
  box-sizing: border-box;
}

.top-band{
  top: 0px;
  position: fixed;
  z-index: 10;
  width: 100%;
  opacity: 95%;
}
